force-app/main/default/flows/Create_Or_Update_Segments_For_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description>When a Quote is saved, creates or updates Segment records based on Quote Start/End dates. Can be replaced with an Event-Triggered Flow on QuoteSaveEvent when using RLM.</description>
    <label>Create or Update Segments for Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Proposed_Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <assignments>
        <name>Get_Quote_Id</name>
        <label>Get Quote Id</label>
        <locationX>50</locationX>
        <locationY>100</locationY>
        <assignmentItems>
            <assignToReference>QuoteIdVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start.RecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_SegmentService</targetReference>
        </connector>
    </assignments>
    <actionCalls>
        <name>Call_SegmentService</name>
        <label>Create or Update Segments for Quote</label>
        <locationX>50</locationX>
        <locationY>200</locationY>
        <actionName>SegmentService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>QuoteIdVariable</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <variables>
        <name>QuoteIdVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <status>Active</status>
</Flow>
